[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
	
[submodule "external/concurrentqueue"]
	path = external/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
